@{
    ViewBag.Title = "選課頁面";
}

<h2>選課頁面</h2>

<div id="CourseSelection">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">學生</label>
                    </div>
                    <select class="custom-select" v-model="selected">
                        <option v-for="stu in StudentList" :value="stu.StudentID">
                            {{stu.Name}}({{stu.StudentID}})
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <button v-on:click="SelectCourse" type="button" class="btn btn-dark">新增</button>
            </div>
        </div>

        <div class="row">
            <div style="width : 20px">
            </div>
            <div class="col-md-8">
                <div v-for="course in CourseList" :key="course.CourseName" class="form-check form-check-inline">
                    <input type="checkbox" :id="course.CourseName" v-model="course.Checked" class="form-check-input">
                    <label :for="course.CourseName">{{ course.CourseName }}</label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">學號</th>
                <th scope="col">課程</th>
                <th scope="col">功能</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="stud in SelectionList" :key="stud.id">
                <td>{{stud.StudentID}}</td>
                <td>{{CoursesToString(stud.SelectCourses)}}</td>
                <td>
                    <button v-on:click="ModifyBtnClick(stud)" type="button" class="btn btn-success" :value="stud.ID">修改</button>
                    <button v-on:click="DeleteBtnClick(stud)" type="button" class="btn btn-danger" :value="stud.ID">刪除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var Selection = new Vue({
            el: '#CourseSelection',
            data: {
                StudentList: [],
                CourseList: [],
                SelectionList: [],

                selected: '',
            },
            watch: {
                selected: function () {
                    console.log(Selection.selected);
                    Selection.GetCourseList(Selection.selected);
                }
            },
            methods: {
                GetStudentList: function () {
                    $.ajax({
                        url: "@Url.Content("~/Home/GetStudentList")",
                        type: "get",
                        dataType: "json",
                        timeout: 10000,
                        success: function (respons) {
                            console.table(respons);
                            Selection.StudentList = respons;
                        }
                    });
                },
                GetCourseList: function (ID) {
                    $.ajax({
                        url: "@Url.Content("~/Home/GetCourseCheckList")",
                        type: "post",
                        data: {
                            studentId: ID,
                        },
                        dataType: "json",
                        timeout: 10000,
                        success: function (respons) {
                            console.table(respons);
                            Selection.CourseList = respons;
                        }
                    });
                },
                GetSelectionList: function () {
                    $.ajax({
                        url: "@Url.Content("~/Home/GetSelectionList")",
                        type: "get",
                        dataType: "json",
                        timeout: 10000,
                        success: function (respons) {
                            console.table(respons);
                            Selection.SelectionList = respons;
                        }
                    });
                },
                SelectCourse: function () {
                    var checked = [];
                    for (var i = 0; i < Selection.CourseList.length; i++) {
                        if (Selection.CourseList[i].Checked) {
                            checked.push(Selection.CourseList[i].CourseId);
                        }
                    }
                    console.log(Selection.selected)
                    console.log(checked );

                    $.ajax({
                        url: "@Url.Content("~/Home/SelectCourse")",
                        type: "post",
                        data: {
                            StudentID: Selection.selected,
                            SelectCourseID: checked
                        },
                        dataType: "json",
                        timeout: 10000,
                        success: function (respons) {
                            if (respons.SysCode == 200) {
                                alert("學號 - " + Selection.selected + " 選課成功!");
                                Selection.GetCourseList(Selection.selected);
                                Selection.GetSelectionList();
                                return;
                            }
                            else {
                                alert("選課失敗 : " + respons.SysMsg);
                                return;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(textStatus);
                            console.log(errorThrown);
                            alert("[例外狀況]選課失敗 : " + XMLHttpRequest.responseText);
                        }
                    });
                },
                ModifyBtnClick: function (student) {
                    Selection.selected = student.StudentID;
                },
                CoursesToString: function (courses) {
                    return courses.join(',');
                }
            },
            created: function () {
                this.GetStudentList();
                this.GetSelectionList();
            },
        })
    </script>
}




