@{
    ViewBag.Title = "選課頁面";
}

<h2>選課頁面</h2>

<div id="CourseSelection">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">學生</label>
                    </div>
                    <select class="custom-select" v-model="selected">
                        <option v-for="stu in StudentList" :value="stu.ID">
                            {{stu.Name}}({{stu.ID}})
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <button type="button" class="btn btn-dark">新增</button>
            </div>
        </div>

        <div class="row">
            <div style="width : 20px">
            </div>
            <div class="col-md-8">
                <div v-for="course in CourseList" :key="course.CourseName" class="form-check form-check-inline">
                    <input type="checkbox" :id="course.CourseName" v-model="course.Checked" class="form-check-input">
                    <label :for="course.CourseName">{{ course.CourseName }}</label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">學號</th>
                <th scope="col">課程</th>
                <th scope="col">功能</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="stud in SelectionList" :key="stud.id">
                <td>{{stud.StudentID}}</td>
                <td>{{CoursesToString(stud.SelectCourses)}}</td>
                <td>
                    <button v-on:click="ModifyBtnClick(stud)" type="button" class="btn btn-success" :value="stud.ID">修改</button>
                    <button v-on:click="DeleteBtnClick(stud)" type="button" class="btn btn-danger" :value="stud.ID">刪除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var Selection = new Vue({
            el: '#CourseSelection',
            data: {
                StudentList: [
                    { StudentID: 'S0001', Name: "Eric" },
                ],
                CourseList: [
                    { CourseId: "C001", CourseName: "chinese", Checked: true },
                    { CourseId: "C002", CourseName: "english", Checked: false },
                    { CourseId: "C003", CourseName: "math", Checked: false },
                ],
                SelectionList: [
                    {
                        StudentID: 'S002',
                        SelectCourses: [
                            "chinese", "english",
                        ]
                    },
                ],

                selected: '',
            },
            methods: {
                GetStudentList: function () {

                },
                GetCourseList: function () {

                },
                GetSelectionList: function () {

                },
                CoursesToString: function (courses) {
                    return courses.join(',');
                }
            },
            created: function () {
                this.GetStudentList();
            },
        })
    </script>
}




