@{
    ViewBag.Title = "學生資訊";
}
<h2 class="">學生資訊</h2>

<div id="StudentData">
    <form id="formdata">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">學號</label>
                        </div>
                        <input type="text" class="form-control" v-model="ID" placeholder="學號" aria-label="Username" aria-describedby="basic-addon1" v-bind:disabled="IDIsDisable">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">生日</label>
                        </div>
                        <input type="text" class="form-control" v-model="Birthday" placeholder="1999-01-01" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">姓名</label>
                        </div>
                        <input type="text" class="form-control" v-model="Name" placeholder="姓名" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Email</label>
                        </div>
                        <input type="text" class="form-control" v-model="Email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <button v-on:click="DoButtonEvent" type="button" class="btn btn-info">{{ButtonStatus}}</button>
                </div>
            </div>
        </div>
    </form>

    <hr />

    <div id="studentTable">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">學號</th>
                    <th scope="col">姓名</th>
                    <th scope="col">生日</th>
                    <th scope="col">Email</th>
                    <th scope="col">功能</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="stud in studentlist" :key="stud.id">
                    <td>{{stud.ID}}</td>
                    <td>{{stud.Name}}</td>
                    <td>{{stud.Birthday}}</td>
                    <td>{{stud.Email}}</td>
                    <td>
                        <button v-on:click="ModifyBtnClick(stud)" type="button" class="btn btn-success" :value="stud.ID">修改</button>
                        <button type="button" class="btn btn-danger" :value="stud.ID">刪除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var students =new Vue({
            el: '#StudentData',
            data: {
                studentlist: [],

                ButtonStatus: '新增',
                ID: 'S1234',
                Name: 'Eric',
                Birthday: '2021-01-01',
                Email: 'a@gmail.com',

                IDIsDisable: false
            },
            watch: {
                ButtonStatus: function() {
                    if (students.ButtonStatus === '新增') {
                        students.IDIsDisable = false;
                    }
                    else {
                        students.IDIsDisable = true;
                    }
                }
            },
            methods: {
                DoButtonEvent: function (event) {
                    if (students.ButtonStatus === '新增') {
                        //alert('Hello ' + this.name + '!' + event.target.tagName);
                        $.ajax({
                            url: "@Url.Content("~/DataCenter/AddStudent")",
                            type: "post",
                            data: {
                                ID: this.ID,
                                Name: this.Name,
                                Birthday: this.Birthday,
                                Email: this.Email,
                            },
                            dataType: "json",
                            timeout: 10000,
                            success: function (respons) {
                                if (respons.SysCode == 200) {
                                    alert("新增成功!");
                                    students.ClearFormData();                                    
                                    return;
                                }
                                else {
                                    alert("新增失敗 : " + respons.SysMsg);
                                    return;
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(textStatus);
                                console.log(errorThrown);
                                alert("[例外狀況]新增失敗 : " + XMLHttpRequest.responseText);
                            }
                        })
                    }
                    else if (students.ButtonStatus === '修改') {
                        $.ajax({
                            url: "@Url.Content("~/DataCenter/ModifyStudent")",
                            type: "post",
                            data: {
                                ID: this.ID,
                                Name: this.Name,
                                Birthday: this.Birthday,
                                Email: this.Email,
                            },
                            dataType: "json",
                            timeout: 10000,
                            success: function (respons) {
                                if (respons.SysCode == 200) {
                                    alert("ID - " + students.ID + " 修改成功!");
                                    students.ClearFormData();                                    
                                    return;
                                }
                                else {
                                    alert("修改失敗 : " + respons.SysMsg);
                                    return;
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(textStatus);
                                console.log(errorThrown);
                                alert("[例外狀況]修改失敗 : " + XMLHttpRequest.responseText);
                            }
                        })
                    }
                    else {
                        students.ButtonStatus = '新增';
                    }
                },
                ClearFormData: function () {
                    students.ID ='';
                    students.Name = '';
                    students.Birthday = '';
                    students.Email = '';
                    students.ButtonStatus = '新增';
                },
                GetStudentList: function () {
                     $.ajax({
                    url: "@Url.Content("~/DataCenter/GetStudentList")",
                    type: "get",
                    dataType: "json",
                    timeout: 10000,
                    success: function (respons) {
                        console.table(respons);
                        students.studentlist = respons;
                        }
                    });
                },
                ModifyBtnClick: function (stud) {
                    console.log(stud);

                    students.ID = stud.ID;
                    students.Name = stud.Name;
                    students.Birthday = stud.Birthday;
                    students.Email = stud.Email;
                    students.ButtonStatus = '修改';
                },
                DeleteBtnClick: function (stud) {
                    console.log(stud);
                },
            },
            created: function () {
                this.GetStudentList();
            },
        })
    </script>
}

